{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        {% if error %}
            <div class="bs-callout bs-callout-danger danger-top" id="callout-helper-bg-specificity">
                <h4>{{ '_error'|trans }}</h4>
                <p> {{ error.messageKey|trans(error.messageData, 'security') }} </p>
            </div>
        {% endif %}

        <form class="form-signin" action="{{ path('login') }}" method="post">
            <h2 class="form-signin-heading">{{ '_sign_in'|trans }}</h2>

            <label for="username" class="sr-only">{{ '_email'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"
                   class="form-control" placeholder="{{ '_email'|trans }}" required autofocus>

            <label for="password" class="sr-only">{{ '_password'|trans }}</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="{{ '_password'|trans }}" required>

            <input type="hidden" name="_target_path" value="list_staff"/>

            <!--<div class="checkbox">
                {#<input type="checkbox" value="remember-me"> {{ '_remember_me'|trans }}#}
            </div>-->
            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ '_sign_in'|trans }}</button>

            <div class="signup">
                <a href="{{ path('signup') }}">{{ '_need_account'|trans }}</a>
            </div>
        </form>

    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .form-signin .signup {
            margin-top: 20px;
            width: 100%;
            text-align: center;
        }

        .bs-callout {
            max-width: 330px;
            padding: 10px 20px;
            margin: 20px auto;
            border: 1px solid #eee;
            border-left-width: 5px;
            border-radius: 3px;
        }

        .bs-callout h4 {
            margin-top: 0;
            margin-bottom: 5px;
        }

        .bs-callout p:last-child {
            margin-bottom: 0;
        }

        .bs-callout code {
            border-radius: 3px;
        }

        .bs-callout + .bs-callout {
            margin-top: -5px;
        }

        .bs-callout-danger {
            border-left-color: #d9534f;
        }

        .bs-callout-danger h4 {
            color: #d9534f;
        }

        .danger-top {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
            top: -10px;
        }
        a.language-switch {
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: transparent !important;
            color: #9d9d9d;
            border: none;
        }
        a.dropdown-toggle.language-switch:hover,
        a.dropdown-toggle.language-switch:active,
        a.dropdown-toggle.language-switch:focus,
        .open>a.dropdown-toggle.language-switch {
            color: #9d9d9d !important;
        }
    </style>
{% endblock %}