{% extends 'base.html.twig' %}


{% block body %}

	<div class="container">

      <form class="form-signin" name='register_form' id='register_form' method='post' action='{{path('signup')}}'>

      		<h2 class="form-signin-heading">Sign up</h2>

			{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'_email'}}) }}
		
			{{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder':'_name'}}) }}

		  	{{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder':'_password'}}) }}

    		{{ form_widget(form.termsAccepted) }} {{ '_terms_of_condition'|trans }}

    		{{ form_row(form._token) }}

	    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ '_register'|trans }}</button>

	</form>

      {# {% if error %}
    	<div class="bs-callout bs-callout-danger" id="callout-helper-bg-specificity">
    		<h4>Error</h4>
    		<p> {{ error.messageKey|trans(error.messageData, 'security') }} </p>
    	</div>
	  {% endif %} #}
	  
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}