{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body%}

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('dashboard') }}"><img class="logo" src="{{ asset('assets/img/logo_w.svg') }}"> </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="{{ path('profile_show', {'userId': currentUser.id}) }}">{{ '_profile'|trans }}</a></li>
              <li>
                  <div class="dropdown">
                      <a class="btn btn-default language-switch dropdown-toggle" type="button" data-toggle="dropdown">{{ '_language'|trans }}
                          <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          {% for language in languages %}
                              <li><a href="{{ path('change_locale', {'locale': language.code | lower }) }}">{{ language.language | capitalize }} ({{ language.code }})</a></li>
                          {% endfor %}
                      </ul>
                  </div>
              </li>
              <li>
                  <a href="{{ path('logout') }}">{{ '_logout'|trans }}</a></li>
          </ul>
          {#<form class="navbar-form navbar-right">#}
            {#<input type="text" class="form-control" placeholder="Search...">#}
          {#</form>#}
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <p>
                {% if currentUser.username is defined %}
                   {{ '_welcome'|trans }} <strong>{{ currentUser.forename }}</strong>!
                {% endif %}
            </p>
            <ul class="nav nav-sidebar">
                <li class="{% if app.request.attributes.get('_route') == 'dashboard' %}active{% endif %}">
                  <a href="{{ path('dashboard') }}">{{ '_dashboard'|trans }}</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'list_staff' %}active{% endif %}">
                  <a href="{{ path('list_staff') }}">{{ '_coworkers'|trans }}</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'list_appointments' %}active{% endif %}">
                  <a href="{{ path('list_appointments') }}">{{ '_appointments'|trans }}</a></li>
                {#<li>
                  <a href="#">Absence</a></li>
                <li>
                  <a href="#">Parking Spots</a></li>
                <li>
                  <a href="#">Billboard</a></li>#}
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        	{% block maincontent %}
        	{% endblock %}  
        	
        </div>
      </div>
    </div>

    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}

    <script type="text/javascript" src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/chart.js/dist/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/external/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/external/bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/external/palette.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
{% endblock %}