{% extends 'content/base.content.html.twig' %}

{% block maincontent %}

    <h1>{{ '_dashboard'|trans }}</h1>
    <div class="row">
        <h3>{{ '_coworkers'|trans }}</h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <canvas class="coworker-circle"></canvas>
        </div>
        <div class="col-md-3">
            <table class="table">
                <tr><td> {{ totalCoWorkers }} {{ '_coworkers'|trans }}</td></tr>
                <tr><td> {{ distributionCoWorkers|length }} {{ '_departments'|trans }}</td></tr>
            </table>
        </div>
    </div>

    <div class="row">
        <h3>{{ '_appointments'|trans }}</h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <canvas class="appointment-circle"></canvas>
        </div>
        <div class="col-md-3">
            <table class="table">
                <tr><td> {{ totalAppointmentsMonth }} {{ '_appointments'|trans }} {{ '_this_month'|trans }}</td></tr>
                <tr><td> {{ totalAppointmentsToday }} {{ '_appointments'|trans }} {{ '_today'|trans }}</td></tr>
                <tr><td> {{ totalAppointmentsPassed }} {{ '_appointments'|trans }} {{ '_passed'|trans }}</td></tr>
            </table>
        </div>
    </div>

    <script type="application/javascript">
        $(document).ready(function() {

            // chart globals
            Chart.defaults.global.legend.display = false;

            {% autoescape false %}

            var distributionData = {{ distributionCoWorkers|json_encode }};
            var distributionLabels = [];
            var distributionValues = [];

            {% endautoescape %}

            function initCoWorkerDistributionData() {
                for(var i = 0; i < distributionData.length; i++) {
                    distributionLabels.push(distributionData[i].department);
                    distributionValues.push(parseInt(distributionData[i][1]));
                }
            }

            // generate color palette for given size
            function generateColors(size, idx) {
                var colors = palette('diverging', size, idx);
                for (var i = 0; i < colors.length; i++) { colors[i] = '#'+colors[i]; }
                return colors;
            }

            function initCoWorkerChart() {
                initCoWorkerDistributionData();
                var colors = generateColors(distributionData.length, 0);
                var ctx = $('.coworker-circle');
                var coworkerChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: distributionLabels,
                        datasets: [
                            {
                                data: distributionValues,
                                backgroundColor: colors
                            }]
                    },
                    animation: {
                        animateScale:true
                    }
                });
            }

            function initAppointmentChart() {
                var colors = generateColors(2, 0);
                var ctx = $('.appointment-circle');
                var appointmentChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: [
                            "{{ '_passed'|trans }}",
                            "{{ '_this_month_left'|trans }}"
                        ],
                        datasets: [
                            {
                                data: [{{ totalAppointmentsPassed }}, ({{ totalAppointmentsMonth }} - {{ totalAppointmentsPassed }}) ],
                                backgroundColor: colors
                            }]
                    },
                    animation: {
                        animateScale:true
                    }
                });
            }

            initCoWorkerChart();
            initAppointmentChart();

        });

    </script>
{% endblock %}