{% extends 'content/base.content.html.twig' %}

{% block maincontent %}
	<h1>{{ '_coworkers'|trans }}</h1>
    <div>
        {% if currentUser.role.role == 'ROLE_ADMIN' %}
            <a class="btn btn-link" href="{{ path('profile_new') }}">{{ '_coworker_new'|trans }}</a>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>#</th>
                <th>{{ '_name'|trans }}</th>
                <th>{{ '_department'|trans }}</th>
                <th>{{ '_email'|trans }}</th>
                <th>{{ '_phone'|trans }}</th>
                <th>{{ '_ext_internal'|trans }}</th>
                <th>{{ '_ext_external'|trans }}</th>
                <th>{{ '_active'|trans }}</th>
                <th>{{ '_profile'|trans }}</th>
            </tr>
            {% for key, user in users %}

                <tr>
                    <td>{{ key }}</td>
                    <td>{{ user.surname }}, {{ user.forename }}</td>
                    <td>
                        {% if user.department.department is defined %}
                            {{ user.department.department }}
                        {% endif %}
                    </td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.baseNumber is defined %}
                            {{ user.baseNumber }}
                        {% endif %}
                    </td>
                    <td>
                        {% if user.extensionInternal is defined %}
                            {{ user.extensionInternal }}
                        {% endif %}
                    </td>
                    <td>
                        {% if user.extensionExternal is defined %}
                            {{ user.extensionExternal }}
                        {% endif %}
                    </td>
                    <td>
                        {% if user.isActive is defined %}
                            {% if user.isActive == 1 %}
                                <i class="glyphicon glyphicon-ok glyphicon-active" style="color:greenyellow"></i>
                            {% endif %}

                            {% if user.isActive != 1 %}
                                <i class="glyphicon glyphicon-remove glyphicon-inactive" style="color:red"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-default" href="{{ path('profile_show', {'userId': user.id}) }}">
                            <i class="glyphicon glyphicon-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}