{% extends 'content/base.content.html.twig' %}

{% block maincontent %}

    <h1>{{ '_appointments'|trans }}</h1>

        <div>

        </div>

        <div style="width: 300px;">
            <form action="{{ path('list_appointments') }}" method="post">
                <table>
                    <tr>
                        <td><a class="btn btn-link" href="{{ path('create_appointment') }}">
                                {{ '_appointment_new'|trans }}</a></td>
                        <td>{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}</td>
                        <td> <button class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i></button></td>
                    </tr>
                </table>
                {{ form_row(form._token) }}
            </form>
        </div>

    <div>
        <h3>{{ '_calendar'|trans }}</h3>
        <div class="calendar">
            {% include 'components/calendar.twig' with days %}
        </div>
    </div>

    <div>
        <h3>{{ '_table'|trans }}</h3>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>{{ '_title'|trans }}</th>
                    <th>{{ '_time'|trans }}</th>
                    <th>{{ '_description'|trans }}</th>
                    <th>{{ '_participants'|trans }}</th>
                    <th>{{ '_location'|trans }}</th>
                </tr>
                {% for a in appointments %}
                <tr>
                    <td>{{ a.title }}</td>
                    <td>{{ a.startDate | date('Y-m-d h:i') }} -<br>{{ a.endDate | date('Y-m-d h:i')}}</td>
                    <td>{{ a.description }}</td>
                    <td>
                        <ul style="padding-left: 5%">
                            {% if a.users is defined %}
                                {% for u in a.users %}
                                    <li>{{ u.surname }}, {{ u.forename }}</li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </td>
                    <td>
                        {% if a.address is defined %}
                            {{ a.address }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

    <style>
        .tooltip > .tooltip-inner {
            background-color: #73AD21;
            color: #FFFFFF;
            border: 1px solid green;
            padding: 15px;
            font-size: 12px;
            white-space:pre-wrap;
            text-align: left;
            max-width:none;
        }
        .calendar tr th {
            background-color: #fff;
        }
        .dl-info dt {
            float: left;
            width: 100px;
            overflow: hidden;
            clear: left;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .dl-info dd {
            margin-left: 110px;
        }
    </style>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip({html: true});
        });
    </script>

{% endblock %}