{% extends 'content/base.content.html.twig' %}

{% block maincontent %}
    <h1>{{ '_appointment_detail'|trans }}</h1>

    <div class="col-sm-12 col-md-6">
        {% if (currentUser.id == appointment.owner) %}
            <button class="btn btn-link pull-left btn-edit-appointment">Edit</button>
            <button class="btn btn-link pull-left btn-remove-appointment">Delete</button>
            <div class="remove-route" data-route="{{ path( 'appointment_remove', { 'appointmentId' : appointment.id } ) }}"></div>
        {% endif %}
            <form action="{{ path('iCal_create', { 'appointmentId' : appointment.id }) }}">
                {{ form_widget(iCalForm.submit,
                {'attr': {'class': 'btn btn-success', 'value':'_create_ical'}}) }}
            </form>
            <br>
            <div class="clearfix"></div>


        <div class="table-responsive appointment-show">
            <p><strong>{{ '_appointment_data'|trans }}</strong></p>
            <table class="table">

                <tr>
                    <td>{{ form_label(form.title) }}</td>
                    <td>{{ appointment.title }}</td>
                </tr>

                <tr>
                    <td>{{ form_label(form.description) }}</td>
                    <td>{{ appointment.description }}</td>
                </tr>

                <tr>
                    <td>{{ form_label(form.startDate) }}</td>
                    <td>{{ appointment.startDate | date('Y-m-d h:i a') }}</td>
                </tr>

                <tr>
                    <td>{{ form_label(form.endDate) }}</td>
                    <td>{{ appointment.endDate | date('Y-m-d h:i a') }}</td>
                </tr>

                <tr>
                    <td>{{ form_label(form.users) }}</td>
                    <td>
                        <ul style="padding-left: 5%;">
                            {% for user in appointment.users  %}
                                <li>{{ user.surname }}, {{ user.forename }}</li>
                            {% endfor %}
                        </ul>

                    </td>
                </tr>
            </table>

            <p><strong>{{ '_address'|trans }}</strong></p>
            <table class="table">
                <tr>
                    <td>{{ form_label(addressForm.addresses) }}</td>
                    <td>
                        <p>
                            {% if (appointment.address.company is defined) %}
                                {{ appointment.address.company }} <br>
                            {% endif %}
                            {% if (appointment.address.room is defined) %}
                                {{ appointment.address.room }} <br>
                            {% endif %}
                            {% if (appointment.address.street is defined) %}
                                {{ appointment.address.street }} <br>
                            {% endif %}
                            {% if (appointment.address.place is defined) %}
                                {{ appointment.address.place }}
                            {% endif %}
                            {% if (appointment.address.company is not defined and
                                    appointment.address.street is not defined and
                                    appointment.address.place is not defined) %}
                                No Location defined.
                            {% endif %}
                        </p>
                    </td>
                </tr>
            </table>
        </div>

        <!-- allow modification only if current user is owner -->
        {% if (currentUser.id == appointment.owner) %}
            <div class="appointment-edit bg-warning">
                <form action="{{ path('appointment_show', {'appointmentId': appointment.id}) }}" method="post">
                    <p><strong>{{ '_appointment_data'|trans }}</strong></p>
                    <table class="table">

                        <tr>
                            <td>{{ form_label(form.title) }}</td>
                            <td>{{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder':'_title'}}) }}</td>
                        </tr>

                        <tr>
                            <td>{{ form_label(form.description) }}</td>
                            <td>{{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder':'_description'}}) }}</td>
                        </tr>

                        <tr>
                            <td>{{ form_label(form.startDate) }}</td>
                            <td><div class="form-group">
                                    <div class='input-group date'>
                                        {{ form_widget(form.startDate,
                                        {'attr': {'class': 'form-control start-date-time-picker', 'placeholder':'_start_date', 'autocomplete':'off' }}) }}
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>{{ form_label(form.endDate) }}</td>
                            <td><div class="form-group">
                                    <div class='input-group date'>
                                        {{ form_widget(form.endDate,
                                        {'attr': {'class': 'form-control end-date-time-picker', 'placeholder':'_end_date', 'autocomplete':'off' }}) }}
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>{{ form_label(form.users) }}</td>
                            <td>{{ form_widget(form.users,
                                {'attr': {'class': 'form-control participant-select'}}) }}</td>
                        </tr>
                    </table>

                    <p><strong>{{ '_existing_location'|trans }}</strong></p>
                    <table class="table">
                        <tr>
                            <td>{{ form_label(addressForm.addresses) }}</td>
                            <td>{{ form_widget(addressForm.addresses,
                                {'attr': {'class': 'form-control address-select'}}) }}</td>
                        </tr>
                    </table>

                    <p><strong>{{ '_new_location'|trans }}</strong></p>
                    <table class="table">
                        <tr>
                            <td>{{ form_label(addressForm.company) }}</td>
                            <td>{{ form_widget(addressForm.company,
                                {'attr': {'class': 'form-control', 'placeholder':'_company', 'value': ''}}) }}</td>
                        </tr>

                        <tr>
                            <td>{{ form_label(addressForm.room) }}</td>
                            <td>{{ form_widget(addressForm.room,
                                {'attr': {'class': 'form-control', 'placeholder':'_room', 'value': ''}}) }}</td>
                        </tr>

                        <tr>
                            <td>{{ form_label(addressForm.street) }}</td>
                            <td>{{ form_widget(addressForm.street,
                                {'attr': {'class': 'form-control', 'placeholder':'_street_no', 'value': ''}}) }}</td>
                        </tr>

                        <tr>
                            <td>{{ form_label(addressForm.place) }}</td>
                            <td>{{ form_widget(addressForm.place,
                                {'attr': {'class': 'form-control', 'placeholder':'_zip_city', 'value': ''}}) }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn-success pull-right">{{ '_save'|trans }}</button>
                            </td>
                        </tr>
                    </table>
                    {{ form_row(form._token) }}
                    {{ form_row(addressForm._token) }}
                </form>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .appointment-edit {
            display: none;
        }
        .select2 {
            width:100% !important;
        }

    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {

            $('.btn-edit-appointment').on('click', function () {
                $('.appointment-show').toggle();
                $('.appointment-edit').toggle();

            });
            if (typeof multiselect !== 'undefined' && $.isFunction(multiselect)) {
                $('.participant-select').multiselect();
            }
            $('.start-date-time-picker').datetimepicker({
                format: 'YYYY-MM-DD hh:mm a'
            });
            $('.end-date-time-picker').datetimepicker({
                format: 'YYYY-MM-DD hh:mm a'
            });
            $('.btn-remove-appointment').on('click', function () {
                bootbox.confirm('Are you sure?', function (result) {

                    if (result == true) {

                        var route = $('.remove-route').data('route');
                        location.href = route;
                    }
                })
            })
        });
    </script>
{% endblock %}