{% extends 'content/base.content.html.twig' %}

{% block maincontent %}

    <h1>Create Appointment</h1>
    <div class="col-sm-12 col-md-6">
        <form action="{{ path('create_appointment') }}" method="post">
            <div class="table-responsive">
                <p><strong>{{ '_appointment_create'|trans }}</strong></p>
                <table class="table">

                    <tr>
                        <td>{{ form_label(appointmentForm.title) }}</td>
                        <td>{{ form_widget(appointmentForm.title, {'attr': {'class': 'form-control', 'placeholder': '_title' }}) }}</td>
                    </tr>

                    <tr>
                        <td>{{ form_label(appointmentForm.description) }}</td>
                        <td>{{ form_widget(appointmentForm.description, {'attr': {'class': 'form-control', 'placeholder':'_description'}}) }}</td>
                    </tr>

                    <tr>
                        <td>{{ form_label(appointmentForm.startDate) }}</td>
                        <td>
                            <div class="form-group">
                                <div class='input-group date'>
                                    {{ form_widget(appointmentForm.startDate,
                                    {'attr': {'class': 'form-control start-date-time-picker', 'placeholder':'_start_date', 'autocomplete':'off' }}) }}
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>{{ form_label(appointmentForm.endDate) }}</td>
                        <td>
                            <div class="form-group">
                                <div class='input-group date'>
                                    {{ form_widget(appointmentForm.endDate,
                                    {'attr': {'class': 'form-control end-date-time-picker', 'placeholder':'_end_date', 'autocomplete':'off' }}) }}
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>{{ form_label(appointmentForm.users) }}</td>
                        <td>{{ form_widget(appointmentForm.users, {'attr': {'class': 'form-control participant-select'}}) }}</td>
                    </tr>
                </table>
                <!-- location form -->
                <p><strong>{{ '_existing_location'|trans }}</strong></p>
                <table class="table">
                    <tr>
                        <td>{{ form_label(addressForm.addresses) }}</td>
                        <td>{{ form_widget(addressForm.addresses,
                            {'attr': {'class': 'form-control address-select'}}) }}</td>
                    </tr>
                </table>

                <p><strong>{{ '_existing_location'|trans }}</strong></p>
                <table class="table">
                    <tr>
                        <td>{{ form_label(addressForm.company) }}</td>
                        <td>{{ form_widget(addressForm.company, {'attr': {'class': 'form-control', 'placeholder':'_company'}}) }}</td>
                    </tr>

                    <tr>
                        <td>{{ form_label(addressForm.street) }}</td>
                        <td>{{ form_widget(addressForm.street, {'attr': {'class': 'form-control', 'placeholder':'_street_no'}}) }}</td>
                    </tr>

                    <tr>
                        <td>{{ form_label(addressForm.place) }}</td>
                        <td>{{ form_widget(addressForm.place, {'attr': {'class': 'form-control', 'placeholder':'_zip_city'}}) }}</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><button class="btn btn-success" style="float:right">{{ '_save'|trans }}</button></td>
                    </tr>
                </table>
            </div>
            {{ form_row(appointmentForm._token) }}
            {{ form_row(addressForm._token) }}
        </form>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        tr td:first-child {
            width:20%;
        }
        .select2, .select2-selection {
            width:100% !important;
            height: 34px !important;
        }
        .select2 .select2-selection__rendered { padding-top: 2px !important; }
        .select2 .select2-selection__arrow { top:4px !important; }
    </style>
{% endblock %}

{% block javascripts %}

    <script>

        $(document).ready(function () {

            $('.start-date-time-picker').datetimepicker({
                format: 'YYYY-MM-DD hh:mm a'
            });
            $('.end-date-time-picker').datetimepicker({
                format: 'YYYY-MM-DD hh:mm a'
            });
            if (typeof multiselect !== 'undefined' && $.isFunction(multiselect)) {
                $('.participant-select').multiselect();
                $('.address-select').multiselect();
            }

        });

    </script>

{% endblock %}