{#
 time can be any string acceptable by http://www.php.net/strtotime, the
 template will output that time's month.

 If you don't want to pass in a date you can set time like this:
 {% set time = "now"|date("U") %}
 {% set time = "December 2012"|date("U") %}

 How ever you want to output items onto the calendar is a different issue,
 but I'd assume pushing everything into an array numerically indexed by that day:
 $days = array(1=>array('Something on the first'),31=>array('Halloween'));

 Source: https://gist.github.com/aknosis/3932192
#}
 {% set time = "now"|date("U") %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="7" class="text-center">
                <h2>{{ time|date('F')|trans }}</h2>
            </th>
        </tr>
        <tr>
            <th width="15%">{{ '_monday'|trans }}</th>
            <th width="15%">{{ '_tuesday'|trans }}</th>
            <th width="16%">{{ '_wednesday'|trans }}</th>
            <th width="15%">{{ '_thursday'|trans }}</th>
            <th width="15%">{{ '_friday'|trans }}</th>
            <th width="12%">{{ '_saturday'|trans }}</th>
            <th width="12%">{{ '_sunday'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% set daysInMonth = time|date('t') %}
            {% set startDow = time|date('F 1\\s\\t Y')|date('N') - 1 %}
            {% set dow = startDow %}
            {% for day in range(1,daysInMonth) %}
                {% if loop.first and startDow != 0 %}
                    <td colspan="{{ startDow }}"></td>
                {% endif %}

                <td>
                    <div>
                        <div><span style="{% if day == 'now'|date('j') %}border:1px solid #4cae4c; border-radius:50%;background-color:#5cb85c;color:#fff {% endif %}">{{ day }}</span></div>
                        <div>
                            {# day content here #}
                            {% if days[day] is defined %}
                                {% for d in days[day] %}
                                    <a href="{{ path('appointment_show', { 'appointmentId' : d.id }) }}"
                                       class="btn btn-primary btn-xs" data-toggle="tooltip"
                                       data-placement="{% if dow < 5 %}right{% else %}left{% endif %}"
                                       title="<dl class='dl-info' style='margin-bottom:0;'><dt>{{ '_title'|trans }}</dt><dd>{{ d.title }}</dd><dt>{{ '_description'|trans }}</dt><dd>{{ d.description }}</dd><dt>{{ '_start_date'|trans }}</dt><dd>{{ d.startDate | date('Y-m-d h:i a') }}</dd><dt>{{ '_end_date'|trans }}</dt><dd>{{ d.endDate | date('Y-m-d h:i a') }}</dd><dt>{{ '_participants'|trans }}</dt><dd>{% for user in d.users %}{{ user.username }} {% endfor %}{% if d.address|length != 0 %}</dd><dt>{{ '_location'|trans }}</dt><dd>{{ d.address }}</dd>{% endif %}</dl>">
                                        {{ d.title }}</a><br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </td>
                {% if loop.last and dow != 6 %}
                    <td colspan="{{ 6 - dow }}">&nbsp;</td>
                {% endif %}
                {% if dow == 6 %}
                    {% set dow = 0 %}
        </tr>
        <tr>
                {% else %}
                    {% set dow = dow + 1 %}
                {% endif %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>