<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% block title %}{{ '_app_name'|trans }}{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet"
              href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">

        <link rel="stylesheet"
              href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">

        <link rel="stylesheet"
              href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}">

        <link rel="stylesheet"
              href="{{ asset('assets/css/external/select2.css') }}">

        <link rel="stylesheet"
              href="{{ asset('assets/css/external/jquery.circliful.css') }}">

        <link rel="stylesheet"
              href="{{ asset('assets/css/login_style.css') }}">
            
        <link rel="stylesheet"
              href="{{ asset('assets/css/navigation_style.css') }}">

        {% block stylesheets %}

        {% endblock %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script>window.jQuery || document.write("<script src=\"{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}\"><\/script>")</script>
        <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
