{% extends 'content/base.content.html.twig' %}

{% block maincontent %}

    <h1>{{ '_profile'|trans }}</h1>
    <div class="col-sm-12 col-md-6">
        <p><strong>{{ ('_basic_data'|trans) }}</strong></p>
        {% if (currentUser.id == user.id or currentUser.role.role == 'ROLE_ADMIN')  %}
            <button class="btn btn-link pull-left btn-basic-form">Edit</button>
        {% endif %}
        <div class="clearfix"></div>
        <div class="table-responsive basic-table">
            <table class="table">
                <tr>
                    <td>{{ form_label(formBasic.username) }}</td>
                    <td>
                        {% if user.username is defined %}
                            {{ user.username }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ form_label(formBasic.forename) }}</td>
                    <td>
                        {% if user.forename is defined %}
                            {{ user.forename }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ form_label(formBasic.surname) }}</td>
                    <td>
                        {% if user.surname is defined %}
                            {{ user.surname }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ form_label(formBasic.email) }}</td>
                    <td>
                        {% if user.email is defined %}
                            {{ user.email }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ form_label(formBasic.password) }}</td>
                    <td>
                        &#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;
                        {#{% if user.password is defined %}
                            {{ user.password }}
                        {% endif %}#}
                    </td>
                </tr>
                <tr>
                    <td>{{ form_label(formBasic.shareCalendar) }}</td>
                    <td>
                        {% if user.shareCalendar is defined %}
                            {% if user.shareCalendar == 1 %}
                                <i class="glyphicon glyphicon-ok glyphicon-active" style="color:greenyellow"></i>
                            {% endif %}

                            {% if user.shareCalendar != 1 %}
                                <i class="glyphicon glyphicon-remove glyphicon-inactive" style="color:red"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ form_label(formBasic.isActive) }}</td>
                    <td>
                        {% if user.isActive is defined %}
                            {% if user.isActive == 1 %}
                                <i class="glyphicon glyphicon-ok glyphicon-active" style="color:greenyellow"></i>
                            {% endif %}

                            {% if user.isActive != 1 %}
                                <i class="glyphicon glyphicon-remove glyphicon-inactive" style="color:red"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% if (currentUser.id == user.id or currentUser.role.role == 'ROLE_ADMIN') %}
                    <td>{{ form_label(formBasic.role) }}</td>
                    <td>
                        {% if user.role.role is defined %}
                            {{ user.role.role }}
                        {% endif %}
                    </td>
                {% endif %}
            </table>
        </div>

        <div id="basic-form">
            <form action="{{ path('profile_show', { 'userId': user.id }) }}" method="post">
                <div class="table-responsive">
                    <table class="table bg-warning">
                        <tr>
                            <td>{{ form_label(formBasic.username) }}</td>
                            <td>{{ form_widget(formBasic.username,
                                {'attr': {'class': 'form-control'}}) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_label(formBasic.email) }}</td>
                            <td>{{ form_widget(formBasic.email,
                                {'attr': {'class': 'form-control'}}) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_label(formBasic.forename) }}</td>
                            <td>{{ form_widget(formBasic.forename,
                                {'attr': {'class': 'form-control'}}) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_label(formBasic.surname) }}</td>
                            <td>{{ form_widget(formBasic.surname,
                                {'attr': {'class': 'form-control'}}) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_label(formBasic.password) }}</td>
                            <td>{{ form_widget(formBasic.password,
                                {'attr': {'class': 'form-control'}}) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_label(formBasic.shareCalendar) }}</td>
                            <td>{{ form_widget(formBasic.shareCalendar,
                                {'attr': {'class': 'form-control'}}) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_label(formBasic.isActive) }}</td>
                            <td>{{ form_widget(formBasic.isActive,
                                {'attr': {'class': 'form-control'}}) }}</td>
                        </tr>
                        {% if (currentUser.id == user.id or currentUser.role.role == 'ROLE_ADMIN') %}
                            <td>{{ form_label(formBasic.role) }}</td>
                            <td>{{ form_widget(formBasic.role,
                                {'attr': {'class': 'form-control'}}) }}</td>
                        {% endif %}
                        <tr>
                            <td></td>
                            <td><button class="btn btn-success" style="float:right">{{ '_save'|trans }}</button></td>
                        </tr>
                    </table>
                </div>
                {{ form_row(formBasic._token) }}
            </form>
        </div>

        <p><strong>{{ '_department'|trans }}</strong></p>
        {% if (currentUser.id == user.id or currentUser.role.role == 'ROLE_ADMIN')  %}
            <button class="btn btn-link pull-left btn-department-form">Edit</button>
        {% endif %}
        <div class="clearfix"></div>
        <div class="table-responsive department-table">
            <table class="table">
                <tr>
                    <td>{{ form_label(formDepartment.department) }}</td>
                    <td>
                        {% if user.department.department is defined %}
                            {{ user.department.department }}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>

        <div id="department-form">
            <form action="{{ path('profile_show', { 'userId': user.id }) }}" method="post">
                <div class="table-responsive">
                    <table class="table bg-warning">
                        <tr>
                            <td>{{ form_label(formDepartment.department) }}</td>
                            <td>
                                {{ form_widget(formDepartment.department,
                                {'attr': {'class': 'form-control'}}) }}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button class="btn btn-success" style="float:right">{{ '_save'|trans }}</button></td>
                        </tr>
                    </table>
                </div>
                {{ form_row(formDepartment._token) }}
            </form>
        </div>

        <p><strong>{{ '_phone_title'|trans }}</strong></p>
        {% if (currentUser.id == user.id or currentUser.role.role == 'ROLE_ADMIN')  %}
            <button class="btn btn-link pull-left btn-phone-form">Edit</button>
        {% endif %}
        <div class="clearfix"></div>
        <div class="table-responsive phone-table">
            <table class="table">
                <tr>
                    <td>{{ form_label(formPhone.baseNumber) }}</td>
                    <td>{% if user.baseNumber is defined %}
                            {{ user.baseNumber }}
                        {% endif %}</td>
                </tr>
                <tr>
                    <td>{{ form_label(formPhone.extensionInternal) }}</td>
                    <td>{% if user.extensionInternal is defined %}
                            {{ user.extensionInternal }}
                        {% endif %}</td>
                </tr>
                <tr>
                    <td>{{ form_label(formPhone.extensionExternal) }}</td>
                    <td>{% if user.extensionExternal is defined %}
                            {{ user.extensionExternal }}
                        {% endif %}</td>
                </tr>
                <tr>
                    <td>{{ form_label(formPhone.mobilePhoneNumber) }}</td>
                    <td>{% if user.mobilePhoneNumber is defined %}
                            {{ user.mobilePhoneNumber }}
                        {% endif %}</td>
                </tr>
            </table>
        </div>

        <div id="phone-form">
            <form action="{{ path('profile_show', { 'userId': user.id }) }}" method="post">
                <div class="table-responsive">
                    <table class="table bg-warning">
                        <tr>
                            <td>{{ form_label(formPhone.baseNumber) }}</td>
                            <td>{{ form_widget(formPhone.baseNumber,
                                {'attr': {'class': 'form-control', 'placeholder':'_phone'}}) }}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form_label(formPhone.extensionInternal) }}</td>
                            <td>{{ form_widget(formPhone.extensionInternal,
                                {'attr': {'class': 'form-control', 'placeholder':'_ext_internal'}}) }}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form_label(formPhone.extensionExternal) }}</td>
                            <td>{{ form_widget(formPhone.extensionExternal,
                                {'attr': {'class': 'form-control', 'placeholder':'_ext_external'}}) }}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn-success" style="float:right">{{ '_save'|trans }}</button>
                            </td>
                        </tr>
                    </table>
                </div>
                {{ form_row(formPhone._token) }}
            </form>
        </div>

    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        #basic-form,
        #department-form,
        #phone-form {
            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {

            $('.btn-basic-form').on('click', function() {
                $('.basic-table').toggle();
                $('#basic-form').toggle();
            });

            $('.btn-department-form').on('click', function () {
                $('.department-table').toggle();
                $('#department-form').toggle();
            });

            $('.btn-phone-form').on('click', function() {
                $('.phone-table').toggle();
                $('#phone-form').toggle();
            });

        });
    </script>


{% endblock %}