{% extends 'content/base.content.html.twig' %}

{% block maincontent %}

    <h1>{{ '_profile_new'|trans }}</h1>
    <div class="col-sm-12 col-md-6">
        <form action="{{ path('profile_new') }}" method="post">
            <div class="table-responsive">
                <table class="table">
                    <!-- Basic info -->
                    <tr>
                        <td>{{ form_label(formBasic.username) }}</td>
                        <td>{{ form_widget(formBasic.username,
                            {'attr': {'class': 'form-control', 'placeholder':'_username'}}) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(formBasic.forename) }}</td>
                        <td>{{ form_widget(formBasic.forename,
                            {'attr': {'class': 'form-control', 'placeholder':'_forename'}}) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(formBasic.surname) }}</td>
                        <td>{{ form_widget(formBasic.surname,
                            {'attr': {'class': 'form-control', 'placeholder':'_surname'}}) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(formBasic.email) }}</td>
                        <td>{{ form_widget(formBasic.email,
                            {'attr': {'class': 'form-control', 'placeholder':'_email'}}) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(formBasic.password) }}</td>
                        <td>{{ form_widget(formBasic.password,
                            {'attr': {'class': 'form-control', 'placeholder':'_password'}}) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(formBasic.shareCalendar) }}</td>
                        <td>{{ form_widget(formBasic.shareCalendar,
                            {'attr': {'class': 'form-control'}}) }}</td>
                    </tr>
                    <!-- Department info -->
                    <tr>
                        <td>{{ form_label(formDepartment.department) }}</td>
                        <td>
                            {{ form_widget(formDepartment.department,
                            {'attr': {'class': 'form-control'}}) }}
                        </td>
                    </tr>

                    <!-- Phone info -->
                    <tr>
                        <td>{{ form_label(formPhone.baseNumber) }}</td>
                        <td>
                            {{ form_widget(formPhone.baseNumber,
                            {'attr': {'class': 'form-control', 'placeholder':'_phone'}}) }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form_label(formPhone.extensionInternal) }}</td>
                        <td>
                            {{ form_widget(formPhone.extensionInternal,
                            {'attr': {'class': 'form-control', 'placeholder':'_ext_internal'}}) }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form_label(formPhone.extensionExternal) }}</td>
                        <td>
                            {{ form_widget(formPhone.extensionExternal,
                            {'attr': {'class': 'form-control', 'placeholder':'_ext_external'}}) }}
                        </td>
                    </tr>
                    <!-- Submit -->
                    <tr>
                        <td></td>
                        <td><button class="btn btn-success" style="float:right">{{ '_save'|trans }}</button></td>
                    </tr>
                </table>
            </div>
            {{ form_row(formBasic._token) }}
            {{ form_row(formDepartment._token) }}
            {{ form_row(formPhone._token) }}
        </form>
    </div>

{% endblock %}