body {
    padding-top: 50px;
}

a,
.btn-link {
    color: #337ab7;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.navbar-inverse {
    background-color: #337ab7;
}
.navbar-inverse .navbar-nav > li >a {
    color: #efefef;
}

.navbar-fixed-top {
    border: 0;
}

.sidebar {
    display: none;
}
.logo {
    width: 100px;
    margin-top: -10px;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #337ab7;
}

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
a.language-switch {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent !important;
    color: #efefef;
    border: none;
}
a.dropdown-toggle.language-switch:hover,
a.dropdown-toggle.language-switch:active,
a.dropdown-toggle.language-switch:focus,
.open>a.dropdown-toggle.language-switch {
    color: #ffffff !important;
}